<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>reg-jelastic</title>
    </head>
    <body class="bg-dark">
        <div class="container">
        
        {{ if .Unsuccess }}
        <div class="row justify-content-md-center"> <p class="text-white bg-dark">При регистрации c email <strong>{{ .Email }}</strong> возникли проблемы: {{ .Problem }}</p><br /></div>

        {{end}}
        {{if .Success}}
        <div class="row justify-content-md-center"><p class="text-white bg-dark">Пользователь c email <strong>{{ .Email }}</strong> {{ if .PasswordGenerated }} и паролем <strong>{{ .Password }}</strong>{{end}} зарегистрирован на портале {{ .Portal }}</p><br /></div>
            <div class="row justify-content-md-center"><p class="text-white bg-dark">Зарегистрировать ещё одного пользователя?</p><br /></div>
         {{else}}
         <div class="row justify-content-md-center"><p class="text-white bg-dark">Зарегистрировать пользователя</p></div>
        {{end}}
    </div>
        <div class="row justify-content-md-center">
            <form method="POST">
                <input type="text" name="email" class="form-control" placeholder="e-mail для регистрации" aria-label="e-mail для регистрации" aria-describedby="basic-addon2">
                <input type="password" name="password" class="form-control" placeholder="Пароль (оставить пустым для генерации)" aria-label="Пароль (оставить пустым для генерации)" aria-describedby="basic-addon2">
                <div class="input-group mb-3">
                <select name="portal" class="custom-select" id="inputGroupSelect02">
                    <option value="DataFort" selected>Клиент DataFort</option>
                    <option value="Beeline">Клиент Beeline</option>
                    <option value="SysSoft">Клиент SysSoft</option>
                </select>
                <div class="input-group-append"><input type="submit" value="Зарегистрировать" class="input-group-text" for="inputGroupSelect02"></div>
                
            </div>
            <input type="checkbox" name="sendmail"><label class="text-white bg-dark"> Отправить данные на почту.</label>
        </div>
        </form>
        </div>
        </body>
</html>